*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html {
  @apply text-black antialiased;
}

:focus,
:active {
  @apply outline-0;
}

.text-lg-medium-uppercase,
.text-base-medium-uppercase,
.text-sm-medium-uppercase,
.text-xs-medium-uppercase {
  @apply uppercase;
}

.outline-none {
  outline: none !important;
  outline-offset: 0 !important;
  box-shadow: none !important;
}

a {
  @apply text-alternative;
  &:hover {
    text-decoration: underline;
  }
}